body{background:orange;
	padding: 0px;
	margin: 0px;
}
.wrap{
	border:solid 1px black;
    width:960px;
	margin: 0 auto;
	height: 100vh;
}

#banner{
	height:150px;
	background: white;
	width: 100%;
	position: relative;
}

nav{}

nav ul{
	list-style: none;
	padding-left: 0px;
	border:solid 1px black;
}

nav ul li{
	border:solid 0px black;
	width: 24.777%;
	float:left;
	text-align: center;
}
nav ul li:hover{
	background: black;
	color:orange;
	font-weight: bold;
	font-size: 12pt;
	cursor: pointer;
}

#mainArea{
	clear:both;
}
p{
	padding: 10px;
}
section{
	width:50%;
	background: grey;
	float: left;
	min-height:80vh;
}
footer{
	text-align: center;
	font-size: 8pt;
	font-weight: bold;
}


#socialMediaDeck{
	width:75px;
	height: 200px;
	background: black;
	position:fixed;
	top:150px;
    left:0px;
}

#subSocialMediaDeck{
	height: 50%;
	width:200px;
	background: black;
	position:absolute;
	top:0px;
	right: 0px;
}






